In [1]:
import pandas as pd
import numpy as np

In [2]:
#load csv file data with headers

location = "../datasets/diamonds.csv"
df = pd.read_csv(location)

In [3]:
df = df.drop(df.columns[[0]],axis=1)

In [4]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
#number of non-NA values
df.count()

carat      53940
cut        53940
color      53940
clarity    53940
depth      53940
table      53940
price      53940
x          53940
y          53940
z          53940
dtype: int64

In [6]:
#Total number of rows including NA values
len(df)

53940

In [8]:
#Get highest price among all rows.
df['price'].max()

18823

In [9]:
#Get lowest price
df['price'].min()

326

In [10]:
#Get sum of price column
df['price'].sum()

212135217

In [11]:
df['price'].mean()

3932.799721913237

In [13]:
df['price'].median()

2401.0

In [14]:
df['price'].mode()

0    605
dtype: int64

In [16]:
#Get count of each carat value
df['carat'].value_counts()

0.30    2604
0.31    2249
1.01    2242
0.70    1981
0.32    1840
1.00    1558
0.90    1485
0.41    1382
0.40    1299
0.71    1294
0.50    1258
0.33    1189
0.51    1127
0.34     910
1.02     883
0.52     817
1.51     807
1.50     793
0.72     764
0.53     709
0.42     706
0.38     670
0.35     667
1.20     645
0.54     625
0.36     572
0.91     570
1.03     523
0.55     496
0.73     492
        ...
2.58       3
2.55       3
2.63       3
1.92       2
3.04       2
2.75       2
2.80       2
4.01       2
2.68       2
3.24       1
2.67       1
3.65       1
4.00       1
3.11       1
2.64       1
4.50       1
3.50       1
2.59       1
3.02       1
3.51       1
2.65       1
3.05       1
2.71       1
3.22       1
4.13       1
2.70       1
3.67       1
5.01       1
2.77       1
3.40       1
Name: carat, Length: 273, dtype: int64

In [17]:
#descriptive statistics
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [19]:
# mean cost of diamonds in each cut
df['price'].groupby(df['cut']).mean()

cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

In [21]:
# minimum price of diamonds in each cut
df['price'].groupby(df['cut']).min()

cut
Fair         337
Good         327
Ideal        326
Premium      326
Very Good    336
Name: price, dtype: int64

In [22]:
#pivot table
pd.pivot_table(df, index=['cut'])

,carat,depth,price,table,x,y,z
cut,,,,,,,
Fair,1.046137,64.041677,4358.757764,59.053789,6.246894,6.182652,3.982770
Good,0.849185,62.365879,3928.864452,58.694639,5.838785,5.850744,3.639507
Ideal,0.702837,61.709401,3457.541970,55.951668,5.507451,5.520080,3.401448
Premium,0.891955,61.264673,4584.257704,58.746095,5.973887,5.944879,3.647124
Very Good,0.806381,61.818275,3981.759891,57.956150,5.740696,5.770026,3.559801

In [26]:
pd.pivot_table(df, values='cut', index=['cut', 'carat'],
...                     columns=['price'], aggfunc=np.sum)

ValueError: Grouper for 'cut' not 1-dimensional